* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgb(245,246,247);
  text-align: center;
}

.top-wrapper h1 {
  color: rgb(19,64,117);
  font-size: 45px;
  letter-spacing: 5px;
}

.top-wrapper p {
  color: rgb(19,64,117);
  font-size: 16px;
  margin-bottom: 40px;
}

.btn-wrapper {
  text-align: center;
}

.btn-wrapper p {
  margin-bottom: 20px;
}

.today {
  background-color: #c2bceb;
  margin-right: 10px;
}

.best {
  background-color: #b0c4de;
  margin-right: 10px;
}

.contact {
  background-color: #4682b4;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(235,239,242,0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  height: 55px;
  width: 55px;
  margin: 4px 0px;
}

.header-left {
  float: left;
}

.header-left h2 {
  display: inline-block;
  color: rgb(19,64,117);
  font-size: 20px;
  padding-left: 5px;
  float: right;
  margin: 20px 0px;
}

.header-left p {
  display: inline-block;
  color: rgb(19,64,117);
  font-size: 16px;
  float: right;
  margin: 5px 0px;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: rgb(19,64,117);
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255,255,255,0.3);
}

.topic-wrapper {
  height: 630px;
  padding-bottom: 130px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgb(19,64,117);
  color: rgb(245,246,247);
  text-align: center;
}

.top {
  width: 250px;
  border-radius: 10px;
  float: left;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
}

.child {
  width: 200px;
  border-radius: 10px;
  float: right;
}

.new {
  width: 250px;
  border-radius: 10px;
  float: left;
}

.topic {
  padding-bottom: 30px;
  text-align: center;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 37%;
  width: 100%;
  color: white;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 13px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
  background-color: rgb(245,246,247);
  color: rgb(19,64,117);
}

.message {
  padding: 15px 40px;
  background-color: #9ee4e5;
  cursor: pointer;
  box-shadow: 0px 7px #87c3c4;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.footer-wrapper {
  padding: 100px 0 220px 0;
  background-image: url(footer.png);
  background-size: cover;
  text-align: center;
}

footer h2 {
  color: rgb(19,64,117);
  font-size: 20px;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.clear {
  clear: left;
}

@media all and (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }

  .lesson-wrapper {
    height: 990px;
  }

  footer {
    text-align: center;
  }
}

@media all and (max-width: 750px) {
  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }
}

@media all and (max-width: 670px) {
  .logo {
    height: 50px;
    width: 50px;
    margin: 4px 0px;
  }

  .header-left h2 {
    font-size: 16px;
  }

  .header-left p {
    font-size: 12px;
  }
  
  .header-right {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .top {
    padding-right: 5px;
    width: 100px;
  }

  .top-wrapper .btn {
    width: 100%;
    margin-bottom: 5px;
  }

  .twitter {
    margin-top: 10px;
  }

  .top-wrapper {
    text-align: left;
    padding-left: 1%;
    padding-right: 1%;
  }

  .top-wrapper h1 {
    font-size: 18px;
    letter-spacing: 2px;
  }

  .top-wrapper p {
    font-size: 14px;
  }
  
  .child {
    width: 100px;
    float: none;
  }
  
  .new {
    width: 120px;
    floart: none;
  }
  
  .lesson {
    width: 100%;
  }

  .topic-wrapper {
    height: 900px;
  }

  .message-wrapper .btn {
    width: 100%;
  }
  
  .footer-wrapper {
    width: 100%;
    margin: 0 auto;
  }
}
